[submodule "OLCspades/coregenome"]
	path = OLCspades/coregenome
	url = https://github.com/adamkoziol/coregenome.git
[submodule "OLCspades/metagenomeFilter"]
	path = OLCspades/metagenomeFilter
	url = https://github.com/adamkoziol/metagenomeFilter.git
[submodule "OLCspades/accessoryfunctions"]
	path = OLCspades/accessoryfunctions
	url = https://github.com/adamkoziol/accessoryfunctions.git
