biopython==1.70
certifi==2017.4.17
chardet==3.0.4
future==0.16.0
idna==2.5
joblib==0.11
numpy==1.13.1
pkginfo==1.4.1
psutil==5.2.2
pycurl==7.43.0
quast==4.5
requests==2.18.1
requests-toolbelt==0.8.0
simplejson==3.11.1
tqdm==4.14.0
twine==1.9.1
urllib3==1.21.1
XlsxWriter==0.9.8
